Algoritmo "graticação"
var h, h_e, h_f: real

inicio
 escreval ("Números de Horas Extras")
  leia (h_e)
escreval ("Número de Horas Faltadas")
  leia (h_f)
 h <- h_e -((2/3)*h_f)
se (h>0) entao
  se (h>=2.400) entao
   escreval ("Graficação de 500$")
   senao
    se (h>=1.800)e(h<2.400) entao
      escreval ("Gratifição de 400$")
    senao
       se (h>=1.200)e(h<1.800) entao
          escreval ("Gratificação de 300$")
      senao
         se (h>=600)e(h<1.200) entao
            escreval ("Gratificação de 200$")
         senao
            se (h<600) entao
              escreval ("Gratificação de 100$")
            fimse
        fimse
     fimse
    fimse
  fimse
senao
 escreval ("Hora Inválida")
fimse
Fimalgoritmo
